@font-face {
  font-family: 'Bagnard';
  src: url('Font/Bagnard-master/Bagnard-master/Bagnard.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Bagnard', sans-serif;
}

textarea {
    resize: none;
}

h1 {
    color: #EAE0CF;
}

#container {
    width: 300px;
    height: 180px;
    border: 1px solid #EAE0CF;
    border-radius: 10px;
    padding: 10px;
    background: #213448;
    
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.search {
    text-align: center;
}

.searchInput {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #94B4C1;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.formButton {
    background-color: #547792; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}