/* css do botão da barra de pesquisa */
#p-search-btn {
    width: 32px;
    height: 32px;
    cursor: pointer !important; /* Muda a seta para a 'mãozinha' */
    align-self: center;
}

/* Efeito ao passar o mouse (Hover) */
#p-search-btn:hover {
    filter: brightness(0.8); /* Escurece levemente a imagem */
    transform: scale(1.1);   /* Aumenta o tamanho em 10% para dar feedback */
    transition: all 0.2s ease; /* Deixa o movimento suave */
}
